    fieldset {
        width: 500px;
        height: 550px;
        border:#008CBA solid;
        margin:auto;
    }
    input {
		width: 55% ;
		padding: 10px 12px;
		border: 1px solid #ccc;
		border-color: #008CBA ;
        display: inline-block
		
	} 
	label {
		color : white ;
		width: 16% ;
		padding: 9px 12px;
		display: inline-block;
		margin: 8px 4px;
		margin-left: 50px ;
		background-color: #70AD47;
		border: 1px solid #ccc;
		border-color: #008CBA ;
		text-align: center ;
	}
	button {
		position: absolute;
        margin: 8px 200px;
		background-color: #70ad47;
		border-radius: 8px ;
		padding: 10px 40px ;
        border-color: #008CBA ;
		color: white;
		text-align: center;
	}
    select {
        width: 32%;
        border-color: #008CBA;
        color: black;
        padding: 10px 12px
    }
    .gender {
        accent-color: #70AD47 ;
        width: 6% ;
        border: none ;
   }
   	.date {
		width: 27% ;
	}
	.file {
		border: none ;
	}
	img {
		width: 100px;
	}